/*-------Contents Begin--------
Navigation Bar - topnav (. li a)

---------Contents End----------*/
body {
    margin: 0 0 0 0;
}

.home {
    width: 100%;
    margin: 0 0 0 0;
    /*background-image: url('../images/birdseye.jpg');*/
    background-clip: border-box;
}

/*--Navbar--*/
.topnav {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #1D2D5E;     
    position: relative;
    margin: 0 auto;
}

.nav-list {
    position: relative;
}

.nav-list li {
    float: left;
    align-content: center;
    margin: 5px 50px 0 0;
    float: right;
    text-align: center; 
}

.nav-list a {
    color: #ffffff;
    font-family: "Hind";
    font-size: 19px;
    text-decoration: none;
}

.nav-list .beta{ /*"Beta Login Text*/
    color: #1D2D5E;
    text-align: center;
}

.nav-list .beta-li{/*"Beta Login <li> container*/
    border-radius: 5px;
    width: 110px;
    background-color: #ffffff;
    text-align: center;
    margin-right: 25px;
}

/*Horizontal page breaks*/
.style-break {
    height: 4px;
    width: 100%;
    background-image: linear-gradient(to right, #15DEF2, #6750DD);
    position: relative;
}

/*-- Home Page Hero Styles --*/
.hero-content {
    width: 100%;
    margin: 0 0 0 0;
    background-image: url('../images/Background.png');
    /*background-clip:*/ 
    background-size: 120%;
    background-position: bottom 10%;
}

.title {
    font-family: "Hind";
    font-weight: 550;
    /* color: linear-gradient(to right, #15DEF2, #6750DD); */
    font-size: 120px;
    padding: 25px 0 0 5%;
    margin: 0 0 0 0;
    color: #000;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.hero-heading {
    font-family: "Hind";
    font-weight: 400;
    font-size: 32px;
    margin: 0 0 0 5%;
    color: #283583;
}

.hero-button-div {
    padding: 10% 0 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-more {
    /*Font*/
    font-size: 48px;
    font-family: "Hind";  
    color: #ffffff;
    border: none;
    /*Size and shape*/
    border-radius: 10px;
    padding: 0 30px 0 30px;
    /*Style*/
    background-color: #1D2D5E;
    /*Placement*/
}

/*--Home Page Section Headings*/

.h-accent {
    color: #15DEF2;
}

h3 {
    /*Style*/
    font-family: "Hind";
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    /*Size and Position*/
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 26px;
    position: relative;
    margin: 0 0 0 0;
}

.section-header {
    /*Style */
    background-color: #1D2D5E;
    /*Size and Position*/
    width: 100%;
    margin: 0 0 0 0;
    padding: 26px 0 0 0;
}

.half-header {
    /*Style */
    background-color: #1D2D5E;
    /*Size and Position*/
    width: 50%;
    margin: 0 0 0 0;
    padding: 26px 0 0 0;
    display: inline-block;
}

.half-header-img {
    /*Style */
    background-color: #ffffff;
    /*Size and Position*/
    width: 49%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
    /*display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    */
    background-image: url('../images/Background.png');
}

.img-computer {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url('../images/bg-devices.PNG');
}

.content-holder {
    width: 100%;
    height: 200px;
}

.bg-devices {
    width: 100%;
    margin: 0 0 0 0;
    background-image: url('../images/bg-devices.PNG');
    /*background-clip:*/ 
    background-size: 100%;
    /*
    min-height: 56%; /*calculated based on 3000px by 1680*/
    /*
    max-height: 56%;
    */
}
